# Introduction
A very important aspect of supervised and semi-supervised machine learning is the quality of the labels produced by human labelers. Unfortunately, humans are not perfect and in some cases may even maliciously label things incorrectly. In this assignment, you will evaluate the impact of incorrect labels on a number of different classifiers.

We have provided a number of code snippets you can use during this assignment. Feel free to modify them or replace them.


## Dataset
The dataset you will be using is the [Adult Income dataset](https://archive.ics.uci.edu/ml/datasets/Adult). This dataset was created by Ronny Kohavi and Barry Becker and was used to predict whether a person's income is more/less than 50k USD based on census data.

### Data preprocessing
Start by loading and preprocessing the data. Remove NaN values, convert strings to categorical variables and encode the target variable (the string <=50K, >50K in column index 14).

In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OrdinalEncoder

In [19]:
# This can be used to load the dataset
data = pd.read_csv("adult.csv", na_values='?')
data.dropna(inplace=True)
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### Data classification
Choose at least 4 different classifiers and evaluate their performance in predicting the target variable. 

#### Preprocessing
Think about how you are going to encode the categorical variables, normalization, whether you want to use all of the features, feature dimensionality reduction, etc. Justify your choices 

A good method to apply preprocessing steps is using a Pipeline. Read more about this [here](https://machinelearningmastery.com/columntransformer-for-numerical-and-categorical-data/) and [here](https://medium.com/vickdata/a-simple-guide-to-scikit-learn-pipelines-4ac0d974bdcf). 

<!-- #### Data visualization
Calculate the correlation between different features, including the target variable. Visualize the correlations in a heatmap. A good example of how to do this can be found [here](https://towardsdatascience.com/better-heatmaps-and-correlation-matrix-plots-in-python-41445d0f2bec). 

Select a features you think will be an important predictor of the target variable and one which is not important. Explain your answers. -->

#### Evaluation
Use a validation technique from the previous lecture to evaluate the performance of the model. Explain and justify which metrics you used to compare the different models.

In [25]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import Normalizer, OrdinalEncoder, LabelEncoder
from sklearn.model_selection import train_test_split

from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

In [26]:
cats = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country']
nums = ['fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']

# We have not validated that the rest of the data is of sufficient quality.
# We only found that salary has trailing dots some times.

steps = [
    ('cat', OrdinalEncoder(dtype=int), cats), # Maybe try one hot encoding.
    ('num', Normalizer(norm='l1'), nums)      # Other normalizing for the numericals
]

# Combine steps into a ColumnTransformer
ct = ColumnTransformer(steps)

data['salary'] = data['salary'].map(lambda x: x.strip(".")) # Sometimes there is dots on the end.
le = LabelEncoder()
y = le.fit_transform(data['salary'])

# show the correlation between different features including target variable
def visualize(data, ct):
    pass

# Apply your model to feature array X and labels y
def apply_model(model, X, y):    
    # Wrap the model and steps into a Pipeline
    pipeline = Pipeline(steps=[('t', ct), ('m', model)])
    # Evaluate the model and store results
    return evaluate_model(X, y, pipeline)

# Apply your validation techniques and calculate metrics
def evaluate_model(X, y, pipeline):
    X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)
    pipeline.fit(X_train, y_train)      # Fits the model using the transformed data
    s = pipeline.score(X_test, y_test)  # Uses the standard scoring function of the model

    # TODO: Score each model using the same function
    # pred = pipeline.predict(X_test)
    # pred_probs = pipeline.predict_proba(X_test)

    return s


# These are all untuned, can do some work by setting the parameters for each model.
# Tree 
print("Tree score:", apply_model(DecisionTreeClassifier(), data, y))

# Random forest
# print("Random Forrest score:", apply_model(RandomForestClassifier(), data, y))

# SVC
# print("SVC score:", apply_model(SVC(), data, y))

# K - nearest neighbours
# print("K nearest score:", apply_model(KNeighborsClassifier(), data, y))

Tree score: 0.7914381744206616

In [27]:
# TODO: Check that all these are valid and/or needed:
for cats in ct.transformers_[0][1].categories_:
    print(cats)

['Federal-gov' 'Local-gov' 'Private' 'Self-emp-inc' 'Self-emp-not-inc'
 'State-gov' 'Without-pay']
['10th' '11th' '12th' '1st-4th' '5th-6th' '7th-8th' '9th' 'Assoc-acdm'
 'Assoc-voc' 'Bachelors' 'Doctorate' 'HS-grad' 'Masters' 'Preschool'
 'Prof-school' 'Some-college']
['Divorced' 'Married-AF-spouse' 'Married-civ-spouse'
 'Married-spouse-absent' 'Never-married' 'Separated' 'Widowed']
['Adm-clerical' 'Armed-Forces' 'Craft-repair' 'Exec-managerial'
 'Farming-fishing' 'Handlers-cleaners' 'Machine-op-inspct' 'Other-service'
 'Priv-house-serv' 'Prof-specialty' 'Protective-serv' 'Sales'
 'Tech-support' 'Transport-moving']
['Husband' 'Not-in-family' 'Other-relative' 'Own-child' 'Unmarried' 'Wife']
['Amer-Indian-Eskimo' 'Asian-Pac-Islander' 'Black' 'Other' 'White']
['Female' 'Male']
['Cambodia' 'Canada' 'China' 'Columbia' 'Cuba' 'Dominican-Republic'
 'Ecuador' 'El-Salvador' 'England' 'France' 'Germany' 'Greece' 'Guatemala'
 'Haiti' 'Holand-Netherlands' 'Honduras' 'Hong' 'Hungary' 'India' 'Iran'
 'Ireland' 'Italy' 'Jamaica' 'Japan' 'Laos' 'Mexico' 'Nicaragua'
 'Outlying-US(Guam-USVI-etc)' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Puerto-Rico' 'Scotland' 'South' 'Taiwan' 'Thailand' 'Trinadad&Tobago'
 'United-States' 'Vietnam' 'Yugoslavia']

### Label perturbation
To evaluate the impact of faulty labels in a dataset, we will introduce some errors in the labels of our data.


#### Preparation
Start by creating a method which alters a dataset by selecting a percentage of rows randomly and swaps labels from a 0->1 and 1->0.

In [28]:
"""Given a label vector, create a new copy where a random fraction of the labels have been flipped."""
def pertubate(y: np.ndarray, fraction: float) -> np.ndarray:
    copy = data.copy()
    # Flip fraction*len(data) of the labels in copy
    return copy

#### Analysis
Create a number of new datasets with perturbed labels, for fractions ranging from `0` to `0.5` in increments of `0.1`.

Perform the same experiment you did before, which compared the performances of different models except with the new datasets. Repeat your experiment at least 5x for each model and perturbation level and calculate the mean and variance of the scores. Visualize the change in score for different perturbation levels for all of the models in a single plot. 

State your observations. Is there a change in the performance of the models? Are there some classifiers which are impacted more/less than other classifiers and why is this the case?

In [29]:
# Code

Observations + explanations: max. 400 words

#### Discussion

1)  Discuss how you could reduce the impact of wrongly labeled data or correct wrong labels. <br />
    max. 400 words



    Authors: Youri Arkesteijn, Tim van der Horst and Kevin Chong.

## Machine Learning Workflow

From part 1, you will have gone through the entire machine learning workflow which are they following steps:

1) Data Loading
2) Data Pre-processing
3) Machine Learning Model Training
4) Machine Learning Model Testing

You can see these tasks are very sequential, and need to be done in a serial fashion. 

As a small perturbation in the actions performed in each of the steps may have a detrimental knock-on effect in the task that comes afterwards.

In the final part of Part 1, you will have experienced the effects of performing perturbations to the machine learning model training aspect and the reaction of the machine learning model testing section.

## Part 2 Data Discovery

Now we have a some datasets that are related to each other.

**Altogether they are the same as the adult dataset used in the part 1 of the assignment.**

In this scenario, one can see the utility of the subsets of data can impact the outcome of the task from the previous section.

Because the data is split up, we want to be able to re-construct the data through data discovery.

As data discovery will allow you to be able to find relations that can be used to reconstruct the entire dataset.

Implement a method of your choice to perform the data discovery to be able to recover the entire dataset from part 1 of the assignment.

In [46]:
def discovery_algorithm(datasets: list, threshold: float) -> list:
    """Function should be able to perform data discovery to find related datasets
    Possible Input: List of datasets
    Output: List of pairs of related datasets
    """
    similar_datasets = []
    for i, dataset1 in enumerate(datasets):
        for j, dataset2 in enumerate(datasets):
            if i == j or i > j:
                continue
            col1 = dataset1.columns.str.lower()
            col2 = dataset2.columns.str.lower()
            #calculate intersection
            intersection = col1.intersection(col2)
            union = col1.union(col2)
            #calculate similarity
            similarity = len(intersection)/len(union)
            # if similarity >= threshold:
            similar_datasets.append((i, j, similarity, intersection))

    similar_datasets.sort(key=lambda x: x[2], reverse=True)
    return similar_datasets

def merge_columns(merged_dataset: pd.DataFrame, intersection: list) -> pd.DataFrame:
    for column in intersection:
        merged_dataset[column] = merged_dataset.apply(lambda row: merge_column(row[f"{column}_df1"], row[f"{column}_df2"], column), axis=1)

    merged_dataset.drop(columns=[f"{col}_df1" for col in intersection] + [f"{col}_df2" for col in intersection], inplace=True)
    return merged_dataset

def merge_column(val1, val2, column):
    if pd.isna(val1):
        return val2
    elif pd.isna(val2):
        return val1
    elif val1 == val2:
        return val1
    else:
        return None  # or some default value

In [58]:
## Do some testing using different degrees of relations on the downstream task.
##

def read_data(file_name):
    df = pd.read_csv(file_name, na_values='?').iloc[: , 1:]
    if 'salary' in df.columns:
        df['salary'] = df['salary'].str.replace('.', '')
    return df

dataset_names = ["adult_split/data_adult_0_1.csv", "adult_split/data_adult_0_2.csv", "adult_split/data_adult_1_1.csv", "adult_split/data_adult_1_2.csv", "adult_split/data_adult_2_1.csv", "adult_split/data_adult_2_2.csv"]

select_columns = ["age","workclass","fnlwgt","education","education-num","marital-status","occupation","relationship","race","sex","capital-gain","capital-loss","hours-per-week","native-country","salary"]
datasets = [read_data(name) for name in dataset_names]


#merge similar datasets
while len(datasets) > 1:
    similar_datasets = discovery_algorithm(datasets, 0.5)
    di, dj, similarity, intersection = similar_datasets.pop(0)
    join_on  = [col for col in intersection if col in ['first_name', 'last_names', 'race', 'sex']]
    merged_dataset = pd.merge(datasets[di], datasets[dj], how='outer', on=['first_name', 'last_names'], suffixes=('_df1', '_df2'))
    merged_dataset = merge_columns(merged_dataset, list(set(intersection) - set(['first_name', 'last_names'])))
    remove_indices = [di,dj]
    datasets = [i for j, i in enumerate(datasets) if j not in remove_indices]
    datasets.append(merged_dataset)

    take_columns = [col for col in select_columns if col in merged_dataset.columns.str.lower()]
    final_dataset = merged_dataset[take_columns]
    final_dataset.to_csv(f"adult_merged/adult_merged_{5-len(datasets)}.csv", index=True)



#check overlap with actual data
pd.merge(final_dataset, data, how='inner', on=select_columns)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,72.0,Private,116640.0,Some-college,10.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,3471.0,0.0,20.0,United-States,<=50K
1,28.0,Local-gov,263600.0,HS-grad,9.0,Married-civ-spouse,Protective-serv,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
2,38.0,Private,171344.0,11th,7.0,Married-spouse-absent,Transport-moving,Own-child,White,Male,0.0,0.0,36.0,Mexico,<=50K
3,34.0,Private,84154.0,Bachelors,13.0,Married-civ-spouse,Sales,Husband,White,Male,0.0,0.0,50.0,United-States,<=50K
4,34.0,Private,45522.0,HS-grad,9.0,Never-married,Other-service,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27578,52.0,Private,111700.0,Some-college,10.0,Divorced,Sales,Other-relative,White,Female,0.0,0.0,20.0,United-States,>50K
27579,20.0,Private,113511.0,11th,7.0,Never-married,Transport-moving,Own-child,White,Male,0.0,0.0,40.0,United-States,<=50K
27580,59.0,State-gov,139616.0,Masters,14.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,50.0,United-States,>50K
27581,52.0,Private,286342.0,HS-grad,9.0,Divorced,Machine-op-inspct,Not-in-family,White,Female,0.0,0.0,38.0,United-States,<=50K
27582,52.0,Private,76860.0,HS-grad,9.0,Married-civ-spouse,Handlers-cleaners,Husband,Asian-Pac-Islander,Male,0.0,0.0,8.0,Philippines,<=50K

In [57]:
datasets_random = [read_data(name) for name in dataset_names]

while len(datasets_random) > 1:
    di, dj = np.random.choice(range(len(datasets_random)), 2, replace=False)
    col1 = datasets_random[di].columns.str.lower()
    col2 = datasets_random[dj].columns.str.lower()
    #calculate intersection
    intersection = col1.intersection(col2)
    join_on  = [col for col in intersection if col in ['first_name', 'last_names', 'race', 'sex']]
    merged_dataset = pd.merge(datasets_random[di], datasets_random[dj], how='outer', on=['first_name', 'last_names'], suffixes=('_df1', '_df2'))
    merged_dataset = merge_columns(merged_dataset, list(set(intersection) - set(['first_name', 'last_names'])))
    remove_indices = [di,dj]
    datasets_random = [i for j, i in enumerate(datasets_random) if j not in remove_indices]
    datasets_random.append(merged_dataset)

    take_columns = [col for col in select_columns if col in merged_dataset.columns.str.lower()]
    final_dataset = merged_dataset[take_columns]
    final_dataset.to_csv(f"adult_merged/adult_random_{5-len(datasets_random)}.csv", index=True)

pd.merge(final_dataset, data, how='inner', on=select_columns)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,72.0,Private,116640.0,Some-college,10.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,3471.0,0.0,20.0,United-States,<=50K
1,28.0,Local-gov,263600.0,HS-grad,9.0,Married-civ-spouse,Protective-serv,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
2,38.0,Private,171344.0,11th,7.0,Married-spouse-absent,Transport-moving,Own-child,White,Male,0.0,0.0,36.0,Mexico,<=50K
3,34.0,Private,84154.0,Bachelors,13.0,Married-civ-spouse,Sales,Husband,White,Male,0.0,0.0,50.0,United-States,<=50K
4,34.0,Private,45522.0,HS-grad,9.0,Never-married,Other-service,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27572,52.0,Private,111700.0,Some-college,10.0,Divorced,Sales,Other-relative,White,Female,0.0,0.0,20.0,United-States,>50K
27573,20.0,Private,113511.0,11th,7.0,Never-married,Transport-moving,Own-child,White,Male,0.0,0.0,40.0,United-States,<=50K
27574,59.0,State-gov,139616.0,Masters,14.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,50.0,United-States,>50K
27575,52.0,Private,286342.0,HS-grad,9.0,Divorced,Machine-op-inspct,Not-in-family,White,Female,0.0,0.0,38.0,United-States,<=50K
27576,52.0,Private,76860.0,HS-grad,9.0,Married-civ-spouse,Handlers-cleaners,Husband,Asian-Pac-Islander,Male,0.0,0.0,8.0,Philippines,<=50K

### Evaluation

Following the same workflow as Part 1 of the assignment, you will need to perform the steps once again.
This means that with the difference in setting, there has now been a change in the data loading portion of the workflow. 

<!-- While performing data discovery, one can check how having more data of different relations can effect the outcome of the downstream task. -->

As you perform the act of data discovery you will be piecing the data back together one by one by finding the relation between the datasets.

As you piece the data back together, the entire dataset will be available in varying portions.

Then using the different portions of available data, fit the models that were used previously, and examine the results when testing on the appropriate data from the testing samples.

*The dataset from part 1 can be treated as the groundtruth, so you can try and random sample from that dataset to produce the testing samples that can be used in this part.* 

***

One can also evaluate on the effect of incorrectness of data discovery.

Suppose what you have done for data discovery is correct, this means the relations that are found are correct.

What if you perform a perturbation on the relations between the files? 

This would mean the dataset will be incorrectly joined, do you think there will be an impact on the outcome of the model that will be trained and then tested on the groudtruth dataset?

What would the effect be on the downstream tasks as mentioned in the machine learning workflow such as data pre-processing, machine learning model training and testing?

This can be evaluated in the same way as above.

In [32]:
## Do some testing on performing various degrees of incorrect data discovery.
##

## Discussions

1)  Discuss the different effects of the results of the data discovery results on various downstream tasks in the machine learning workflow.
    As stated previously, this is effecting the data loading portion of the ML workflow.

2)  Discuss also what aspects need to be considered when performing data discovery and evaluating the results of data discovery.

Max. 400 words

The perturbations that performed for part 1 and 2 are all data quality issues.

3) Discuss on the effects of data quality and how you may attempt to identify and solve these issues?

<!-- For the set of considerations that you have outlined for the choice of data discovery methods, choose one and identify under this new constraint, how would you identify and resolve this problem? -->

Max 400 words